@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
body{
    overflow-x: hidden;
}
html ::-webkit-scrollbar-track{
    background: transparent;
}
html ::-webkit-scrollbar-thumb{
    background: black;
    border-radius: 100px;
}
html ::-webkit-scrollbar{
    width: 5px;
} 

#ultraheader{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #2C1A11;
}
.brand-title{
    font-size: 1.9rem;
    color: aliceblue;
    font-family: "Merriweather", serif;
    font-weight: 500;
    font-style: normal;

}
.logo{
    height: auto;
    width: 16%;
}

.title{
    font-family: "Josefin Sans", sans-serif;
    color: #2C1A11;
    font-size: 2.5rem;
    font-weight: 600;

}

.right, .left{
    margin-bottom: 12%;
    margin-top: 3%;
}

/* LEFT */

.left{
    form {

        label{
            font-family: "Josefin Sans", sans-serif;
            color: #2C1A11;
            font-size: .9rem;
            font-weight: 600;
        }
       input, textarea{
        border-color: #2C1A11;
       }
    
    }
}  

/*RIGHT */

.right{
    padding-left: 5%;
    padding-right: 5%;

    .big{
        font-family: "Merriweather", serif;
        color: #2C1A11;
        font-size: 2.5rem;
        font-weight: 600;
    }
    .small{
        font-family: "Poppins", sans-serif;
        color: #2C1A11;
        font-size: .8rem;
        font-weight: 600;

    }
}

/* ACCORDION */

.accordion-header{
    font-family: "Merriweather", serif;
    color: #2C1A11;
    font-size: 1.8rem;
    font-weight: 600;

}
.accordion-body{
    font-family: "Poppins", sans-serif;
    color: #2C1A11;
    font-size: .9rem;
    font-weight: 500;

}
