@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

html ::-webkit-scrollbar-track{
    background: transparent;
}
html ::-webkit-scrollbar-thumb{
    background: black;
    border-radius: 100px;
}
html ::-webkit-scrollbar{
    width: 5px;
}


body{
    overflow-x: hidden;
    background-image: url(../images/prodbg.jpg);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center ; 
    background-attachment: fixed;
    margin: 0;
    padding: 0; 
}
.navbar {
    margin-bottom: 0; 
}

#navbar{
    
    background-color: #2C1A11;
    margin: 0; 
    padding: 0; 

    .nav-link{
        color: #CCCCCC;
        font-family: "Josefin Sans", sans-serif;
        font-size: 1.2rem;
        font-weight: 400;
        padding: 1.2rem;

    }
    .mod{
        cursor: pointer;
    }
}

.body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.img-fluid{
    height: auto;
    width: 50%; 
}

.left-box{
    background-color: #CCCCCC;
   
}
.left-box, .right-box {
    padding: 1rem; 
}

#lboximg{
    /* width: 350px; */
}

/* MODAL CART */

.gotocart{
    background-color: #2C1A11;
    color: #E9E9E9;
    font-family: "Josefin Sans", sans-serif;
}
.modal-title{
    font-size: 1.5rem;
}

.modal-footer {
    border-top: none;
}
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.modal-title-container {
    flex: 1;
    text-align: center;
}

.btn-close {
    position: absolute;
    right: 15px; 
}

.box-area{
    width: 100%;
    font-family: "Josefin Sans", sans-serif;
    color: white;
    box-shadow: 10px 20px 40px rgba(0, 0, 0, 0.2), 10px 20px 40px rgba(0, 0, 0, 0.19);
    padding: 10rem; 
}

.right-box{
    background-color: #2C1A11;
    color: #CCCCCC;

}

.by{
    color: #2C1A11;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: .9rem;
}

.ft{
    margin-left: 1rem;
}

.brand{    
    color: #2C1A11;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
}

.productname{
    color: #2C1A11;
    font-family: "Poppins", sans-serif;
    font-size: 2.5rem; 
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;

}
.details{
    color: #2C1A11;
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-weight: 300;
    font-size: 0.9rem; 
    padding: 0 1.5rem; 
}

.vertical-text {
    writing-mode: vertical-rl; 
    transform: rotate(180deg); 
    text-align: center; 
    font-size: .9rem; 
    color: #2C1A11;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
}

.pricesection{
    color: #2C1A11;
    font-family: "Poppins", sans-serif;
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 1.5rem;

    
    .pricename{
        font-size: .9rem;
        font-weight: 300;
    }
    .price{
        font-size: 1.5rem;
        font-weight: 700;
    }
}

.quantity{
    color: #CCCCCC;
    font-family: "Poppins", sans-serif;
    margin-left: 1.9rem;
}
   

.quantitysection{
    display: flex;
    margin-left: .7rem;
    width: 20%; 


    .add2cartbtn{
        background-color: #2C1A11;
        color: #CCCCCC;
        font-family: "Poppins", sans-serif;
        width: 100%;
        font-size: 1.1rem;
        border-radius: 10px;
        padding: .5rem;
        margin-left: 1rem;
        transition: background-color 0.3s, color 0.3s; 
    }
    .add2cartbtn:hover {
        background-color: #CCCCCC; /* Darker shade for hover effect */
        color: #2C1A11; /* Lighter text color on hover */
    }
    .fa-check{
        color: green;
    }

    .number-input{ 
        width: 25%;
    }
    .avail{
        color: #2C1A11;
        font-family: "Poppins", sans-serif;
        margin-left: 2rem;
        display: flex;             
        justify-content: center;  
        align-items: center;      
    }
    .avail p {
        margin: 0;
        display: flex;            
        align-items: center;  
        font-size: 0.9rem;    
        border: #CCCCCC 1px solid;
        padding: 10px;
    }
   
}


/* FOOTER */

.img{
    height: auto;
    width: 4%;
}

footer{
    background-color: #2C1A11;
    color: #CCCCCC;
    font-family: "Poppins", sans-serif;

    hr{
        color: #CCCCCC;
    }

    .para{
        font-weight: 300;
    }
    .coffeebrand{
        font-size: 1rem;
    }
    
    .nav-link{
        color: #CCCCCC;
        font-family: "Poppins", sans-serif;
    
    }
    
}
